<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Check Point</title>
  <meta charset="utf-8">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="resources/bootstrap.min.css"/>
  <link rel="stylesheet" href="resources/style.css"/>
  <script src="resources/jquery-2.1.3.min.js"></script>
</head>
<body>

<!-- Header Section Starts -->
<header>
 <div class="container">
   <div class="row">
     <div class="col-sm-12">
       <div class="stuck-menu">
         <div class="logo">
           <span>Check Point</span>
         </div>
         <nav>
           <ul>
             <li><a href="#about">About</a></li>
             <li><a href="#learning">Learning Flow</a></li>
             <li><a href="#team">Team</a></li>
             <li><a href="#partners">Partners</a></li>
             <li><a href="#contacts">Contacts</a></li>
             <!--<li><a href="#registration">Register</a></li>-->
           </ul>
         </nav>
       </div>
     </div>
     <div class="col-sm-12">
       <div class="welcome-banner">
         <h1>
           Are you ready for an exciting journey in the world of development? 3 months of studying and practicing programming skills. Educational roadmaps are ready for everyone who wants to join <span class="name">CheckPoint</span>. It’s time to make a contribution to your own future profession.
         </h1>
       </div>
     </div>
   </div>
 </div>
</header>
<!-- Header Section Ends -->

<!-- Content Section Starts -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>About Us</h2>
        <span class="under-header">This is what we can offer you</span>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-4">
        <div class="about-item">
          <i class="fa fa-rocket"></i>
          <h3>Great start</h3>
          <p>CheckPoint is an educational program for students who want to become IT-specialists but don’t
            know from where to start do it. Now you know.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="about-item">
          <i class="fa fa-users"></i>
          <h3>Professional Team</h3>
          <p>We’ve collected team of senior developers with training experience in order to provide best education program and approach.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="about-item">
          <i class="fa fa-code"></i>
          <h3>Awesome frameworks</h3>
          <p>Go through the most essential topics of JavaScript and Java to obtain skills of front-end or back-end developer using the most popular and needed frameworks - AngularJS and Spring</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="learning">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Learning Flow</h2>
        <p>We are not going to teach you in a common sense of this term. Our aim is to point out required and enough topics, which allow to start and continue self development in software engineering. Educational program is composed with an excellent balance of practical tasks and theory applied in a real software developer life. CheckPoint will give you not just a technical knowledge but also a problem solving skill.</p>
      </div>
      <div class="col-sm-12">
        <div class="learning_items-wrapper">
          <div class="row">
            <div class="col-sm-3">
              <div class="learning_item">
                <div class="icon-wrapper">
                  <i class="fa fa-list"></i>
                </div>
                <p>Start education module. Overview education materials.</p>
              </div>
            </div>


            <div class="col-sm-3">
              <div class="learning_item">
                <div class="icon-wrapper">
                  <i class="fa fa-check"></i>
                </div>
                <p>You need to go through all topics using learning materials or any other sources which you find useful.</p>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="learning_item">
                <div class="icon-wrapper">
                  <i class="fa fa-thumbs-o-up"></i>
                </div>
                <p>Complete practical task and send it for review.</p>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="learning_item">
                <div class="icon-wrapper">
                  <i class="fa fa-wechat"></i>
                </div>
                <p>Receive feedback.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="team-wrapper1">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Our team</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Front-End</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-item">
            <div class="photo-wrapper">
              <img src="resources/Vlad-Babenko.jpg" alt="Vlad Babenko">
            </div>
            <h3>Vladyslav Babenko</h3>
            <span class="profession">Front-End Developer</span>
            <p>Organizer of CheckPoint and trainer on JS CheckPoint section. Main specialisation is frontend development based on JS core, AngularJS. Expert level in Quality Assurance area.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/profile.php?id=100008347578926"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.twitter.com/@Babenk0"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/vladyslavbabenko"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="team-item">
            <div class="photo-wrapper">
              <img src="resources/Eugene-Zharkov.png" alt="Eugene Zharkov">
            </div>
            <div class="content-wrapper">
              <div class="content-wrapper_inner">
                <h3>Eugene Zharkov</h3>
                <span class="profession">FrontEnd Architect at DOOR3</span>
                <p>Trainer on JavaScript CheckPoint section. Main programming languages - JavaScript and .NET; Solid experience in conducting trainings. MVP at Microsoft. Author of A2 podcast</p>
                <ul class="socials">
                  <li><a href="https://www.facebook.com/eugene.zharkov"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.twitter.com/@2j2e"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/eugenezharkov"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="team-item rockstar">
            <div class="photo-wrapper">
              <img src="resources/Julia-Kira.jpg" alt="Yulia-Puchnina">
            </div>
            <h3>Yulia Puchnina</h3>
            <span class="profession">Senior Technical Architect</span>
            <p>This person is a legend.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/yulia.puchnina"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/kira__kit"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/pub/yulia-puchnina/36/73a/174"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-wrapper2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Back-End</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-item">
            <div class="photo-wrapper">
              <img src="resources/Alexey-Zvolinskiy-Fruzenshtein.png" alt="Alexey Zvolinskiy Fruzenshtein">
            </div>
            <h3>Alexey Zvolinskiy</h3>
            <span class="profession">Scala / Java developer at Ciklum</span>
            <p>Organizer of CheckPoint and trainer on Java CheckPoint section. Main specialisation is Java development in web and test automation areas. Solid experience in conducting trainings. MVB at DZone and JavaCodeGeeks.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/alex.fruzenshtein"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.twitter.com/@Fruzenshtein"><i class="fa fa-twitter"></i></a></li>
              <li><a href="http://linkedin.com/in/fruzenshtein"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="team-item">
            <div class="photo-wrapper">
              <img src="resources/Yana-Mikhaylenko.png" alt="Yana Mikhaylenko">
            </div>
            <h3>Yana Mikhaylenko</h3>
            <span class="profession">Senior Java developer at SmartBear</span>
            <p>Trainer on Java CheckPoint section. Main specialisation is Java development for web,  performance monitoring and performance improving areas.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/yana.mikhaylenko.5"><i class="fa fa-facebook"></i></a></li>
              <li><a href="http://ua.linkedin.com/pub/yana-mikhaylenko/4a/ba1/545/
"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="team-item rockstar">
            <div class="photo-wrapper">
              <img src="resources/Roman-Voznyak.png" alt="Roman Wozniak">
            </div>
            <h3>Roman Wozniak</h3>
            <span class="profession">Java / Scala architect at Ciklum</span>
            <p>Mr. "who pushed this shit to master?". Scala dedicated developer aka functional freak.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/romeo.wozniak"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/romantic_cynic"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=103889138"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

  <div class="team-wrapper3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>HTML + CSS</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="team-item">
            <div class="photo-wrapper">
              <img src="resources/Yuriy-Mokrozub.png" alt="Yuriy Mokrozub">
            </div>
            <h3>Yuriy Mokrozub</h3>
            <span class="profession">Front-End Developer at Astound Commerce</span>
            <p>Undisputed senior-level developer. Leading coach at IQLab training courses. Believes that frontend not just a regular development, but art.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/profile.php?id=1302258490"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.twitter.com/@YMokrozub"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=138265464"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-item">
            <div class="photo-wrapper">
              <img src="resources/Alexey-Saulyak.jpg" alt="Alexey Saulyak">
            </div>
            <h3>Alexey Saulyak</h3>
            <span class="profession">Front-End Developer at TemplateMonster</span>
            <p>Psychologist that works in IT. Main specialization is Front-End, in which he has good experience and
              wants to share this experience with you.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/alexey.saulyak"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=367940720"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>

<div class="team-wrapper4">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Operations</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-item">
            <div class="photo-wrapper">
              <img src="resources/Yana-Pristupa.png" alt="Yana Pristupa">
            </div>
            <h3>Iana Prystupa</h3>
            <span class="profession">Research Group Head at Media Direction Ukraine</span>
            <p>Main specialization is providing recommendations and touch-points in terms of Brand media-support. Expert in Quantitive Marketing research, Infographics and Consumer's Insights.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/iana.prystupa"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/pub/iana-prystupa/70/159/892/en"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-item">
            <div class="photo-wrapper">
              <img src="resources/Marta-Susuk.png" alt="Marta Susuk">
            </div>
            <h3>Marta Susuk</h3>
            <span class="profession">UI/UX designer</span>
            <p>Undisputed perfectionist. She knows what the design needs.</p>
            <ul class="socials">
              <li><a href="https://www.facebook.com/marta.susuk"><i class="fa fa-facebook"></i></a></li>
              <li><a href="
                https://www.linkedin.com/profile/view?id=359544904"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  </div>

</section>

<section id="partners">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Our partners</h2>
        <span class="under-header">Great companies & organizations who helped us to make this course</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="partners-item">
          <div>
            <img src="resources/Levi9-partner-logo.png">
          </div>
          <h3><a href="https://www.levi9.com/">Levi9 Ukraine</a></h3>
          <span class="cooperation-status">certification</span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="partners-item">
          <div>
            <img src="resources/10per-partner.png">
          </div>
          <h3><a href="http://10per.club">10 Per Club</a></h3>
          <span class="cooperation-status">organizer</span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="partners-item">
          <div>
            <img src="resources/kpi-studrada-partner.png">
          </div>
          <h3><a href="http://studrada.kpi.ua">Studrada KPI</a></h3>
          <span class="cooperation-status">organizer-partner</span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="partners-item">
          <div>
            <img src="resources/OS-partner.png">
          </div>
          <h3><a href="https://vk.com/open_science">Open Science</a></h3>
          <span class="cooperation-status">information</span>
        </div>
      </div>
    </div>
    <!-- Partners second row-->
    <div class="row">
      <div class="col-sm-3">
        <div class="partners-item">
          <div>
            <img src="resources/smartme-partner.png">
          </div>
          <h3><a href="http://www.smartme.com.ua/">SmartMe</a></h3>
          <span class="cooperation-status">hosting</span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="partners-item">
          <div>
            <img src="resources/JellyFishIT-partner.png">
          </div>
          <h3><a href>JellyFishIT</a></h3>
          <span class="cooperation-status">information</span>
        </div>
      </div>
      
      
    </div>


    </div>
  </div>
</section>

<section id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Our Contacts</h2>
        <span class="under-header">For any information you can contact us via<br> email or directly on our
          FaceBook page.</span>
      </div>
    </div>
    <div class="row">
      <ul class="contacts">
        <li class="col-sm-4">
          <a class="mail" href="mailto:alex.fruzenshtein@gmail.com"><i class="fa fa-envelope"></i></a>
        </li>
        <li class="col-sm-4">
          <a class="facebook" href="https://www.facebook.com/10perClub"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="col-sm-4">
          <a class="twitter" href="https://twitter.com/10perCP"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--
<section id="registration">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Registration</h2>
        <span class="under-header">Start your Check Point way right today</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <form class="form-horizontal"
              name="registrForm"
              role="form"
              ng-controller="RegistrationCtrl">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="male"
                     id="male"
                     value="Male"
                     ng-model="registrationForm.female" required> Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions"
                     id="female"
                     value="Female"
                     ng-model="registrationForm.female" required> Female
            </label>
          </div>
          <div class="form-group">
            <label for="firstName">First name</label>
            <div>
              <input type="text" class="form-control"
                     name="firstName"
                     id="firstName"
                     ng-model="registrationForm.firstName"
                     placeholder="First name"
                     ng-minlength="2"
                     ng-maxlength="20"
                     ng-class="{'error': registrForm.firstName.$invalid && registrForm.firstName.$dirty}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last name</label>
            <div>
              <input type="text" class="form-control"
                     id="lastName"
                     name="lastName"
                     ng-model="registrationForm.lastName"
                     placeholder="Last name"
                     ng-minlength="2"
                     ng-maxlength="20"
                     ng-class="{'error': registrForm.lastName.$invalid && registrForm.lastName.$dirty}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <div>
              <input type="number" class="form-control"
                     id="age"
                     name="age"
                     ng-model="registrationForm.age"
                     placeholder="Age"
                     ng-pattern="/\b(1[89]|2[0-4])\b/"
                     ng-class="{'error': registrForm.age.$invalid && registrForm.age.$dirty}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="faculty">Faculty:</label>
            <div>
              <select id="faculty" class="form-control"
                      name="faculty"
                      ng-model="registrationForm.faculty"
                      ng-options="faculty for faculty in faculties"
                      ng-class="{'error': registrForm.faculty.$invalid && registrForm.faculty.$dirty}" required>
                <option value="">Please, select your faculty</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="english">English level:</label>
            <div>
              <select id="english" class="form-control"
                      name="english"
                      ng-model="registrationForm.english"
                      ng-options="english for english in englishLevels"
                      ng-class="{'error': registrForm.english.$invalid && registrForm.english.$dirty}" required>
                <option value="">Please, select your english level</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="profession">Desired profession:</label>
            <div>
              <select id="profession" class="form-control"
                      name="profession"
                      ng-model="registrationForm.profession"
                      ng-options="profession for profession in professions"
                      ng-class="{'error': registrForm.profession.$invalid && registrForm.profession.$dirty}" required>
                <option value="">Please, select your desired profession</option>
              </select>
            </div>
          </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div>
                    <input type="email" class="form-control"
                           id="email"
                           name="email"
                           ng-model="registrationForm.email"
                           placeholder="Email"
                           ng-class="{'error': registrForm.email.$invalid && registrForm.email.$dirty}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="skype">Skype</label>
                <div>
                    <input type="text" class="form-control"
                           id="skype"
                           name="skype"
                           ng-model="registrationForm.skype"
                           placeholder="Skype"
                           ng-minlength="2"
                           ng-maxlength="20"
                           ng-class="{'error': registrForm.skype.$invalid && registrForm.skype.$dirty}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="motivation">Motivation</label>
                <div>
                    <textarea class="form-control"
                           id="motivation"
                           name="motivation"
                           ng-model="registrationForm.motivation"
                           placeholder="Motivation"
                           ng-minlength="2"
                           ng-maxlength="500"
                           ng-class="{'error': registrForm.motivation.$invalid && registrForm.motivation.$dirty}"
                           required>
                    </textarea>
                </div>
            </div>
          <div class="button-wrapper">
            <button type="button"
                    class="confirm-btn"
                    ng-disabled="registrForm.$invalid"
                    ng-click="sendRequest(url)">Submit</button>
          </div>
          <div class="" ng-if="error">
              <p class="text-center">Oops, something wasn't right</p>
          </div>
          <div class="" ng-if="formSent">
              <p class="text-center">Your form has been submitted!</p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
-->
<section id="map"></section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Copyright 2014 - 2015.
        <a href="#">Check Point</a>
      </div>
    </div>
  </div>
</footer>
<!-- Content Section Ends -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script src="resources/angular.js"></script>
<script src="resources/app.js"></script>

<script>
  (function() {
    var map;
    function initialize() {
      var myLatlng = new google.maps.LatLng(50.43,30.5500000);
      var kpi = new google.maps.LatLng(50.448283, 30.455964);
      var levi9 = new google.maps.LatLng(50.3955059, 30.4789647);
      var mapOptions = {
        zoom: 11,
        center: myLatlng,
        scrollwheel: false
      };
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      var kpiMarker = new google.maps.Marker({
        position: kpi,
        map: map,
        title: 'KPI'
      });

      var kpiInfo = new google.maps.InfoWindow({
        content: 'Kiev Polytechnic Institute',
        maxWidth: 300
      });

      google.maps.event.addListener(kpiMarker, 'click', function() {
        kpiInfo.open(map,kpiMarker);
      });


      var levi9Marker = new google.maps.Marker({
        position: levi9,
        map: map,
        title: 'Levi9'
      });

      var levi9Info = new google.maps.InfoWindow({
        content: 'Levi9, Okhtyrskyi Lane, 7',
        maxWidth: 300
      });

      google.maps.event.addListener(levi9Marker, 'click', function() {
        levi9Info.open(map,levi9Marker);
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

  }());

  $('a').click(function(){
    $('html, body').animate({
      scrollTop: $( $.attr(this, 'href') ).offset().top - 50
    }, 500);
    return false;
  });


</script>
</body>
</html>